:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --navy-blue: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* index/portfolio-header */
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid var(--cornflower);
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
}
.header-navigation {
  width: 100%;
  max-width: 452px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header-logo {
  margin-right: 76px;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-studio {
  color: var(--navy-blue);
}
.header-list {
  gap: 40px;
  display: flex;
}
.header-list-item {
  padding: 24px 0;
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list-item:hover,
.header-list-item:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
}
.header-address-list {
  gap: 40px;
  display: flex;
}
.header-address-contacts {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-contacts:hover,
.header-address-contacts:focus {
  color: var(--ocean);
}
/* index-header */
/* ---------------------------------------------- */
/* index-section-hero */
.hero {
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
}
.page-hero-container {
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  padding: 16px 32px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  background: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/* index-section-hero */
/* ---------------------------------------------- */
/* index-section-advantages */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 72px px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-subtitle {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* index-section-advantages */
/* ---------------------------------------------- */
/* index-seaction-heading */
/* .heading {
}
.heading-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.heading-list {
} */
/* index-seaction-heading */
/* ---------------------------------------------- */
/* index-seaction-team */
.team {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-heading {
  text-align: center;
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-img {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-text-container {
  text-align: center;
  padding: 32px 0;
}
.team-name {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* index-seaction-team */
/* ---------------------------------------------- */
/* Portfolio-main */
/* .button-list {
}
.button-menu {
  color: var(--iris);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
}
.button-menu:hover,
.button-menu:focus {
  color: var(--white);
  background-color: var(--ocean);
} */

.portfolio-our {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-heading {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-our-portfolio {
  width: calc((100% - 48px) / 3);
}

.container-our-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.content-title {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.content-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Portfolio-main */
/* ---------------------------------------------- */
/* index/portfolio-seaction-footer */
.footer {
  padding-bottom: 100px;
  padding-top: 100px;
  background: var(--navy-blue);
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 76px;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: var(--cloud);
}
.footer-text {
  width: 264px;
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* index/portfolio-seaction-footer */

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
